@import url(http://fonts.googleapis.com/css?family=Roboto+Draft:400,700|Roboto:400,700);

html {
  font-family: 'RobotoDraft','Roboto',sans-serif
}

.md-toolbar-tools {
  font-size: 20px;

  >.md-button {
    font-size: 24px;
    margin-right: 8px;
  }
}

.md-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

md-sidenav {
  background-color: #f9f9f9 !important;
}

md-content.md-default-theme {
  background-color: inherit;
}

md-content.doc-content {
  padding: 16px;
}

// About
section.about {
  text-align: center;

  .md-avatar {
    height: 80px;
    width: 80px;
  }

  h4 {
    margin: 0 0 5px;
  }
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
