<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md')">
  <md-content layout-padding>
    <md-list>
      <md-list-item ng-click="vm.goToNav('resume.about')">
        <img ng-src="assets/images/avatar.png" class="md-avatar">
        <p>About Me</p>
      </md-list-item>

      <md-list-item ng-click="vm.goToNav('resume.skills')">
        <i class="fa fa-html5"></i>
        <p>Technical Skills</p>
      </md-list-item>

      <md-list-item ng-click="vm.goToNav('resume.experience')">
        <i class="fa fa-server"></i>
        <p>Experience</p>
      </md-list-item>

      <md-list-item ng-click="vm.goToNav('resume.education')">
        <i class="fa fa-graduation-cap"></i>
        <p>Education</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-sidenav>

<div layout="column" layout-fill layout-align="top center">
  <md-toolbar class="md-theme-indigo md-toolbar-tools">
    <md-button class="md-icon-button md-default-theme" hide-gt-md ng-click="vm.toggleNav()">
      <i class="fa fa-bars"></i>
    </md-button>
    <h2>{{header}}</h2>
  </md-toolbar>

  <md-content layout-padding class="doc-content">
    <div ui-view></div>
  </md-content>

  <footer>

  </footer>
</div>
